<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="10 seconds">
    <contextName>JAR</contextName>
    <jmxConfigurator />

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} APP JAR [%thread] %highlight(%-5level) %logger{50} - %msg%n</pattern>
        </encoder>
        <withJansi>true</withJansi>
    </appender>
    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>127.0.0.1</syslogHost>
        <facility>local0</facility>
        <suffixPattern>TomEE [%thread] %highlight(%-5level) %logger{20} %msg</suffixPattern>
        <withJansi>true</withJansi>
    </appender>
    <logger name="org.waastad" level="debug"/>
    <logger name=" ch.qos.logback" level="debug"/>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="SYSLOG" />
    </root>

</configuration>

